account_id = "ab43a89c284963fce47460305a945611"
main = "src/index.ts"
compatibility_date = "2024-12-01"

[observability]
enabled = true

[[r2_buckets]]
binding = "ASSETS"
bucket_name = "accomplish-assets"
